@charset "UTF-8";

body {
            margin: 0px;
            border: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        img {
            width: 100vw;
        }

        a {
            display: block;
            background-color: darkred;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 20px;
            font-weight: bold;
        }